<html>
<head>
<meta name="viewport" content="initial-scale=1.0">
<title>Vacation Rentals</title>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/trip.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon"
	href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<link rel="icon" sizes="192x192"
	href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
input[type=text]:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

body {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

select:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

a:focus {
	outline: none
}

button:focus {
	outline: none
}

#map {
	height: 100%;
}

.accordion-panel__content {
	overflow: hidden;
	padding: 5px;
	width: 100%;
}

.accordion-panel--collapsed {
	max-height: 0;
	padding: 0;
}

.accordion-panel--expanded {
	max-height: 2048px;
	opacity: 1;
	overflow: visible;
	transition: opacity 0.3s, max-height 0.8s, padding 0s ease 0s;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.accordion_checkout__section {
	overflow: hidden;
	padding: 5px;
	width: 100%;
}

.light-gray {
	color: #bbb;
}

.select {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 2em;
	padding-left: 10px;
	height: 50px;
	width: 100%;
	transition: border-color 0.2s;
	border: 1px solid #aaa;
	border-radius: 2px;
	background-color: #fff;
	color: #484848;
	line-height: normal;
}

.photo {
	backface-visibility: hidden;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	background-color: #bbb;
}

.panel {
	border: 1px solid #dce0e0;
	background-color: #fff;
	border-radius: 0;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	line-height: 1.43;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
}

.payment-logo {
	width: 50px;
	height: 30px;
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	text-indent: -99999px;
	background:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA%2BgAAAAeCAYAAAC%2FgDR9AAAAC…ykPJKiI2wL%2FW5j22KwgljCA7ESrpm96oDj2wFP8BU03urrMw0%2FgAAAAASUVORK5CYII%3D)
		no-repeat;
}

.billing_table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	border-color: grey;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.summary {
	background: transparent;
	padding: 0 0 15px;
	font-size: 16px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.summary .panel-body:first-child {
	padding-top: 30px;
	border-top: 0;
}

.total_price {
	border: 0;
	padding: 0;
	width: 100%;
	background: transparent;
	text-align: start;
	cursor: default;
	pointer-events: none;
}

input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	height: 1.25em;
	width: 1.25em;
	margin-bottom: -0.25em;
	margin-right: 5px;
	vertical-align: top;
}
</style>
</head>
<body ng-app="trip" ng-controller="trip" ng-init="getPropReviews();">
	<div style="z-index: 1000; display: block;position:relative;">
		<nav class="navbar navbar-default "
			style="background-color: transparent; background: transparent; border-color: transparent;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/home"
						style="border-right: 1px solid #dce0e0;"> <img
						src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png"
						alt="some_text"
						style="height: 30px; font-weight: normal; font-size: inherit; background-color: transparent; color: inherit; top: -2px; font-family:"HelveticaNeue";font-size: 14px;    padding: 4px 12px;     ">
					</a>

				</div>
				<ul class="nav navbar-nav pull-right" style="z-index: 100000;"
					style="overflow: hidden; font-family: Circular,"HelveticaNeue",Helvetica; top: -2px;font-size: 14px;padding: 4px 12px;"-webkit-font-smoothing:antialiased;">
					
					<li ng-if="profile.status  === 0"><a href="" ng-click="becomeHost()">Become a Host</a></li>
					<li ng-if="profile.status  === 1" ><a href="" ><span style="color:red">Become a Host (Pending)</span></a>
					<li ng-if="profile.status  === 2"><a href="/hostlistings">Host</a>
					<li><a href="/trips">Trips</a>
					<li class="dropdown"><a href="/profile"> <img width="28"
							height="28" class="img-circle dropbtn" ng-src="{{imageUrl}}"
							style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
					</a>

						<div class="dropdown-content">
							<label> <a href="/logout">Logout</a>
							</label>
						</div></li>

				</ul>

			</div>
		</nav>
	</div>




	<div class="container">
		<div class="row" style="height: 30px"></div>

		<div class="row">




			<div class="col-md-7">
				<div class="space-md-4">
					<h2
						style="font-size: 32px; font-weight: normal; margin-bottom: 15px;">
						<small
							style="font-size: 20px; font-weight: normal; line-height: 1; text-transform: none; color: #767676;">What
							would you like to do?</small>
					</h2>
				</div>
				<a href="/changetrip"
					style="color: inherit; text-decoration: none; background: transparent;">


					<div class="panel" style="margin-bottom: 12px;">
						<div class="panel-body row"
							style="padding-bottom: 30px; border-top: 0; position: relative; margin: 0; padding: 20px;">
							<div class="col-sm-10 no-left-padding-sm col-lg-push-1">
								<h2
									style="margin-bottom: 6px; font-size: 32px; font-weight: normal;">
									<small
										style="font-size: 20px; font-weight: normal; line-height: 1; text-transform: none; color: #767676;">Change
										Reservation</small>
								</h2>
								<div class="hide-sm"
									style="vertical-align: middle; color: #767676;">Change
									travel dates, listing, or number of guests.</div>
							</div>
						</div>
					</div>



				</a> <a href="/canceltrip"
					style="color: inherit; text-decoration: none; background: transparent;">


					<div class="panel" style="margin-bottom: 12px;">
						<div class="panel-body row"
							style="padding-bottom: 30px; border-top: 0; position: relative; margin: 0; padding: 20px;">
							<div class="col-sm-10 no-left-padding-sm col-lg-push-1">
								<h2
									style="margin-bottom: 6px; font-size: 32px; font-weight: normal;">
									<small
										style="font-size: 20px; font-weight: normal; line-height: 1; text-transform: none; color: #767676;">Cancel
										Reservation</small>
								</h2>
								<div class="hide-sm"
									style="vertical-align: middle; color: #767676;">This
									reservation has a Moderate cancellation policy.</div>
							</div>
						</div>
					</div>



				</a>
			</div>
			<div class="col-md-5" style="padding-left: 37.5px;">

				<div class="summary">
					<div class="background-cover"
						style="height: 140px; background-image: url(http://localhost:3001/getpicture0?prop_id={{property.prop_id}});"></div>
					<div
						style="position: relative; margin-right: 30px; margin-bottom: 0; margin-top: -25px; float: right;">

						<div class="photo"
							style="border-radius: 50%; border: 2px solid #fff;">
							<img class="img-circle"
								ng-src="{{hostImageUrl}}"
								style="height: 60px; width: 60px; vertical-align: middle; border: 0;">
						</div>


					</div>

					<div class="panel"
						style="border: 1px solid #dce0e0; background-color: #fff; border-radius: 0;">
						<div class="panel-body"
							style="padding-right: 20px; padding-bottom: 25px; padding-left: 20px; position: relative; margin: 0;">
							<div
								style="vertical-align: middle; margin-bottom: 12px; color: #767676;">
								<span>Hosted by Ashna</span>
							</div>
							<div style="font-size: 24px; line-height: 30px;"><%=trip.title%></div>
							<div style="vertical-align: middle; color: #767676;">
								<ul class="list-layout"
									style="padding-left: 0; margin-bottom: 0; list-style: none;">
									<li style="display: inline; font-size: 16px;"><%=trip.category%></li>
									
									<li style="display: table-cell; font-size: 16px;">

										<div class="rating-wrapper" ng-if="count!=0">


											<div class="rating"
												style="display: inline-block; position: relative;">
												<span class="star" ng-repeat="n in [] | range:avgrating"
													style="font-size: 20px; color: #155f13;"><i
													class="fa fa-star"></i> </span>

											</div>
											<div class="rating"
												style="display: inline-block; position: relative;">
												<span class="star" ng-repeat="n in [] | rangenew:avgrating"
													style="font-size: 20px; color: #ddd;"><i
													class="fa fa-star"></i> </span>

											</div>


										</div>



									</li>
									<li class="hide-md"
										style="display: table-cell; font-size: 16px;">&nbsp;&nbsp;&nbsp;



										<div style="display: inline;" ng-if="count!=0">
											<a href='#' data-toggle="modal" data-target="#myModal4"
												style="color: #2d2d2d; text-decoration: none; background: transparent;"><span
												style="font-size: 18px;">{{ count }} reviews</span> </a>
										</div>
										<div style="display: inline;float:left;" ng-if="count==0">
											<span style="font-size: 16px;">No reviews to show</span>
										</div>
										<div class="modal fade" id="myModal4" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Reviews</h4>
													</div>
													<div class="modal-body">
														<div ng-repeat="n in reviews">
															<p>{{ n.review }}</p>
															<div class="rating-wrapper">


																<div class="rating"
																	style="display: inline-block; position: relative;">
																	<span class="star"
																		ng-repeat="n in [] | range:n.rating"
																		style="font-size: 20px; color: #155f13;"><i
																		class="fa fa-star"></i> </span>

																</div>
																<div class="rating"
																	style="display: inline-block; position: relative;">
																	<span class="star"
																		ng-repeat="n in [] | rangenew:n.rating"
																		style="font-size: 20px; color: #ddd;"><i
																		class="fa fa-star"></i> </span>

																</div>


															</div>
															<br>
															<hr>



														</div>

														<!-- <div class="row">
															<div class="col-sm-12">
																<div class="alert alert-info" ng-if="avgrating==0">
																	<strong>No reviews to show.</strong>
																</div>
															</div>
														</div> -->
														<div class="row">
															<div class="col-sm-12">
																<div class="alert alert-danger"
																	ng-hide="unexpected_error">
																	<strong>Unexpected error, try again</strong>
																</div>
															</div>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-default"
																data-dismiss="modal">Close</button>
														</div>
													</div>

												</div>
											</div>

										</div>

									</li>
								</ul>
								<div><%=trip.street%>, <%=trip.city%>, <%=trip.state%>
									<%=trip.zip%>, United States</div>
							</div>
						</div>

						<div class="panel-body hide-sm"
							style="padding-right: 20px; padding-bottom: 25px; padding-left: 20px; padding-top: 25px; border-top: 1px solid #dce0e0;">

							<div class="row row-condensed">
								<div class="col-sm-5">
									<div style="vertical-align: middle; color: #767676;">

										<span>Check-in</span>
									</div>
									<span><%=trip.check_in.toString().substring(0,10)%></span>

								</div>

								<div class="col-sm-2">
									<i class="icon icon-chevron-right"
										style="font-size: 1.5em; font-style: normal; font-weight: normal; line-height: 1; color: #bbb;">

									</i>
								</div>

								<div class="col-sm-5">
									<div style="vertical-align: middle; color: #767676;">

										<span>Check-out</span>
									</div>
									<span><%=trip.check_out.toString().substring(0,10)%></span>

								</div>


							</div>

						</div>




					</div>




				</div>
			</div>
		</div>
	</div>
	<script>
		listing = "<%=JSON.stringify(trip)%>"
		
	</script>




</body>
</html>