<html>
<head>
<meta name="viewport" content="initial-scale=1.0">
<title>Vacation Rentals</title>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/trip.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon"
	href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<link rel="icon" sizes="192x192"
	href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
input[type=text]:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

body {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

select:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

a:focus {
	outline: none
}

.req {
	font-size: 150%;
	color: red;
}

button:focus {
	outline: none
}

#map {
	height: 100%;
}

.accordion-panel__content {
	overflow: hidden;
	padding: 5px;
	width: 100%;
}

.accordion-panel--collapsed {
	max-height: 0;
	padding: 0;
}

.accordion-panel--expanded {
	max-height: 2048px;
	opacity: 1;
	overflow: visible;
	transition: opacity 0.3s, max-height 0.8s, padding 0s ease 0s;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.accordion_checkout__section {
	overflow: hidden;
	padding: 5px;
	width: 100%;
}

.light-gray {
	color: #bbb;
}

.select {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 2em;
	padding-left: 10px;
	height: 50px;
	width: 100%;
	transition: border-color 0.2s;
	border: 1px solid #aaa;
	border-radius: 2px;
	background-color: #fff;
	color: #484848;
	line-height: normal;
}

.photo {
	backface-visibility: hidden;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	background-color: #bbb;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	line-height: 1.43;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
}

.billing_table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	border-color: grey;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.summary {
	background: transparent;
	padding: 0 0 15px;
	font-size: 16px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.summary .panel-body:first-child {
	padding-top: 30px;
	border-top: 0;
}

.total_price {
	border: 0;
	padding: 0;
	width: 100%;
	background: transparent;
	text-align: start;
	cursor: default;
	pointer-events: none;
}

input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	height: 1.25em;
	width: 1.25em;
	margin-bottom: -0.25em;
	margin-right: 5px;
	vertical-align: top;
}

.star {
	/* padding: 1px; */
	color: #ddd;
	font-size: 30px;
	text-shadow: .05em .05em #aaa;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}

.filled {
	color: #fd0;
}
</style>
</head>
<body ng-app="trip" ng-controller="trip" ng-init="getPropReviews();">
	<div style="z-index: 1000; display: block; position: relative;">
		<nav class="navbar navbar-default "
			style="background-color: transparent; background: transparent; border-color: transparent;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/home"
						style="border-right: 1px solid #dce0e0;"> <img
						src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png"
						alt="some_text"
						style="height: 30px; font-weight: normal; font-size: inherit; background-color: transparent; color: inherit; top: -2px; font-family:"HelveticaNeue";font-size: 14px;    padding: 4px 12px;     ">
					</a>

				</div>
				<ul class="nav navbar-nav pull-right" style="z-index: 100000;"
					style="overflow: hidden; font-family: Circular,"HelveticaNeue",Helvetica; top: -2px;font-size: 14px;padding: 4px 12px;"-webkit-font-smoothing:antialiased;">

					<li ng-if="profile.status  === 0"><a href=""
						ng-click="becomeHost()">Become a Host</a></li>
					<li ng-if="profile.status  === 1"><a href=""><span
							style="color: red">Become a Host (Pending)</span></a>
					<li ng-if="profile.status  === 2"><a href="/hostlistings">Host</a>
					<li><a href="/trips">Trips</a>
					<li class="dropdown"><a href="/profile"> <img width="28"
							height="28" class="img-circle dropbtn" ng-src="{{imageUrl}}"
							style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
					</a>

						<div class="dropdown-content">
							<label> <a href="/logout">Logout</a>
							</label>
						</div></li>

				</ul>

			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row" style="height: 30px"></div>

		<div class="row">


			<form ng-submit="checkout(avgrating);" method="post” name="
				checkout” data-toggle="validator">

				<div class="col-md-7 form-group" ng-click="resetErrors();">



					<div class="accordion-panel" data-panel-name="AboutYourTrip">

						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" ng-if="no_of_guests>property.guests">
									<strong>Select lesser number of guests</strong>
								</div>
							</div>
						</div>
						
						
						
						<div class="row">
							<div id="acc_trip" class="col-md-10 text-left">
								<div style="font-size: 24px; font-weight: normal; float: left;">1.
									About Your Trip</div>

							</div>
							<div id="edit" class="col-md-2 text-right"
								style="line-height: 26px; display: none; font-size: 16px;">
								<a href="#"
									style="color: #008489; text-decoration: none; background: transparent;">
									<span>Edit</span>
								</a>
							</div>
						</div>
						<div style="margin-bottom: 12px;"></div>
						<div id="trip"
							class="accordion-panel__content accordion-panel--expanded">
							<div style="font-size: 16px;">
								<div style="margin-bottom: 24px;">
									<div class="host-message" style="font-size: 16px;">
										<br>

										<div style="display: inline-block; vertical-align: middle;">
											<img width="28" height="28" class="img-circle"
												ng-src="{{hostImageUrl}}"
												style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
											<span>Your host, <%=property.lname%></span>

										</div>

									</div>

								</div>
								<div style="margin-bottom: 24px;">
									<div class="guest_details">
										<span>Who’s coming?</span>
										<div class="row" style="margin-top: 6px;">
											<div class="col-md-12">
												<div
													style="display: block; width: 50%; position: relative; vertical-align: bottom;">
													<select class="form-control" id="how-many-guests"
														placeholder="1 Guest" ng-model="no_of_guests" required>
														<option value="1">1 Guest</option>
														<option value="2">2 Guests</option>
														<option value="3">3 Guests</option>
														<option value="4">4 Guests</option>
														<option value="5">5 Guests</option>
														<option value="6">6 Guests</option>
														<option value="7">7 Guests</option>
														<option value="8">8 Guests</option>
														<option value="9">9 Guests</option>
														<option value="10">10 Guests</option>
														<option value="11">11 Guests</option>
														<option value="12">12 Guests</option>
														<option value="13">13 Guests</option>
														<option value="14">14 Guests</option>
														<option value="15">15 Guests</option>
														<option value="16">16+ Guests</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>



								<div style="margin-bottom: 42px;">
									<div>
										<label for="guest_input"
											style="display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal;">
											<span>Say hello to your host and tell them why you’re
												coming:</span> <span></span>
										</label>
										<div class="guest_message">
											<div>
												<textarea name="message_host"
													placeholder="Visiting family or friends? Seeing the sights? This helps your host plan for your trip."
													rows="4"
													style="max-height: 1000px; padding-top: 10px; padding-bottom: 10px; resize: vertical; line-height: inherit; display: block; width: 100%"></textarea>
											</div>
										</div>
									</div>
									<div style="margin-top: 6px;">
										<div></div>
									</div>
								</div>
								<div style="margin-bottom: 36px;"></div>
							</div>
							<div class="row" style="margin-bottom: 12px; margin-top: 12px;">
								<div class="col-md-4">
									<button id="next" class="btn btn-large btn-primary" ng-disabled="no_of_guests>property.guests"
										type="button"
										style="height: 50px; border-color: #ff5a5f; background-color: #ff5a5f; color: #fff; width: 50%;">
										<span>Next</span>
									</button>
								</div>
							</div>


						</div>

					</div>



					
					<div class="accordion-panel" data-panel-name="Payment">
						<hr
							style="border-top-width: 2px; margin-top: 6px; margin-bottom: 18px; border-top: 1px solid #dce0e0;">
						<div class="row">
							<div id="acc_payment" class="col-md-10 text-left light-gray">
								<div style="font-size: 24px; font-weight: normal; float: left;">2.
									Payment</div>

							</div>
						</div>
						<hr
							style="border-top-width: 2px; margin-top: 18px; margin-bottom: 18px; border-top: 1px solid #dce0e0;">
						<div style="margin-bottom: 12px;"></div>
						<div id="payment"
							class="accordion-panel__content accordion-panel--collapsed"
							style="font-size: 16px;">
							<div id="selectors">
								<div>
									<div>
										<div class="row" style="margin-bottom: 24px;">
											<div class="col-md-6">

												<div>
													<label for="payment-country"
														style="display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
														<span>Billing country</span>
													</label>
													<div
														style="display: block; width: 100%; position: relative; vertical-align: bottom;">
														<select id="payment_country" name="payment_country"
															class="select">

															<option selected value="US">United States</option>
														</select>
													</div>

												</div>
											</div>
										</div>
									</div>

									<div>
										<div class="row">
											<div class="col-md-12">
												<label for="payment-type"
													style="display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
													<span>Payment type</span>
												</label>
											</div>
										</div>
										<div class="row" style="margin-bottom: 24px;">
											<div class="col-md-6">
												<div>
													<div
														style="display: block; width: 100%; position: relative; vertical-align: bottom;">
														<select id="payment_country" name="payment_country"
															class="select">

															<option selected value="0">Credit Card</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="logos">
													<div class="payment-logo visa active"></div>
													<div class="payment-logo master active"></div>
													<div class="payment-logo american_express active"></div>
													<div class="payment-logo discover active"></div>
													<div class="payment-logo paypal inactive"></div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div>
								<div></div>
								<div>
									<div class="row" style="margin-bottom: 24px;">

										<div class="col-md-12">



											<div class="row">
												<div class="col-md-9">
													<label for="card_number"
														style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
														<span>Card number <abbr class="req"
															title="required">*</abbr></span> <span>&nbsp;</span>
													</label>
													<div style="position: relative;">
														<input class="form-control" name="card_number"
															pattern="\d{16}" title="Card number should be 16 digits"
															ng-model="cardNumber" type="tel" aria-required="true"
															autocomplete="off"
															style="padding-right: 40px; height: 50px; font-size: 16px; display: block; padding-top: 8px; padding-bottom: 8px; padding-left: 10px; width: 100%;"
															required maxlength="16">


													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label for="card_month"
														style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
														<span>Expires on <abbr class="req" title="required">*</abbr></span>
														<span>&nbsp;</span>
													</label>
													<div class="row">
														<div class="col-md-6">
															<div
																style="display: block; width: 100%; position: relative; vertical-align: bottom;">
																<select id="card_month" class="form-control"
																	name="card_month" class="select" ng-model="month"
																	required>

																	<option value="">MM</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																</select>
															</div>
														</div>
														<div class="col-md-6">
															<div
																style="display: block; width: 100%; position: relative; vertical-align: bottom;">
																<select id="card_year" class="form-control"
																	name="card_year" class="select" ng-model="year"
																	required>

																	<option value="">YYYY</option>
																	<option value="2016">2016</option>
																	<option value="2017">2017</option>
																	<option value="2018">2018</option>
																	<option value="2019">2019</option>
																	<option value="2020">2020</option>
																	<option value="2021">2021</option>
																	<option value="2022">2022</option>
																	<option value="2023">2023</option>
																	<option value="2024">2024</option>
																	<option value="2025">2025</option>
																	<option value="2026">2026</option>
																	<option value="2027">2027</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<label for="card_cvv"
														style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
														<span>Security code <abbr class="req"
															title="required">*</abbr></span> <span>&nbsp;</span>
													</label>
													<div style="position: relative;">
														<input ng-model="cvv" class="form-control" name="card_cvv"
															pattern="\d{3}" title="Enter 3 digit security code"
															type="tel" aria-required="true" autocomplete="off"
															maxlength="3"
															style="padding-right: 40px; height: 50px; font-size: 16px; display: block; padding-top: 8px; padding-bottom: 8px; padding-left: 10px; width: 100%;"
															required>
													</div>
												</div>
											</div>
										</div>



									</div>

									<div class="row" style="margin-bottom: 24px;">
										<div class="col-md-6">
											<label for="first_name"
												style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
												<span>First name <abbr class="req" title="required">*</abbr></span>
												<span>&nbsp;</span>
											</label>
											<div style="position: relative;">
												<input type="text" name="first_name" class="form-control"
													ng-model="firstname" pattern="^[a-zA-Z]*$"
													title="First name should only contain upper and lower case alphabets"
													style="padding-right: 40px; height: 50px; font-size: 16px; display: block; padding-top: 8px; padding-bottom: 8px; padding-left: 10px; width: 100%;"
													required>
											</div>
										</div>
										<div class="col-md-6">
											<label for="last_name"
												style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
												<span>Last name <abbr class="req" title="required">*</abbr></span>
												<span>&nbsp;</span>
											</label>
											<div style="position: relative;">
												<input type="text" class="form-control" name="last_name"
													pattern="^[a-zA-Z]*$"
													title="Last name should only contain upper and lower case alphabets"
													ng-model="lastname"
													style="padding-right: 40px; height: 50px; font-size: 16px; display: block; padding-top: 8px; padding-bottom: 8px; padding-left: 10px; width: 100%;"
													required>
											</div>
										</div>
									</div>

									<div class="row" style="margin-bottom: 24px;">

										<div class="col-md-4">
											<label for="postal_code"
												style="font-size: 16px; white-space: nowrap; display: block; padding-top: 9px; padding-bottom: 8px; line-height: normal; cursor: default;">
												<span>Postal code <abbr class="req" title="required">*</abbr></span>
												<span>&nbsp;</span>
											</label>
											<div style="position: relative;">
												<input type="text" class="form-control" name="postal_code"
													pattern="^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$"
													title="Zip code Format: xxxxx / xxxxx-xxxx" ng-model="zip"
													style="padding-right: 40px; height: 50px; font-size: 16px; display: block; padding-top: 8px; padding-bottom: 8px; padding-left: 10px; width: 100%;"
													required>


											</div>
										</div>

									</div>


								</div>

								<div class="row" style="margin-bottom: 24px;">
									<div class="col-md-12">
										<span class="req">*</span><span>Required fields</span>
									</div>
								</div>


							</div>
						</div>

					</div>
					
					<div class="row" ng-hide="date_error">
							<div class="col-sm-12">
								<div class="alert alert-danger">
									<strong>Invalid Expiry date</strong>
								</div>
							</div>
						</div>

						

						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" ng-hide="unexpected_error">
									<strong>Unexpected error, try again</strong>
								</div>
							</div>
						</div>

					<div id="checkout" class="accordion_checkout__section"
						style="margin-bottom: 24px; display: none;">
						<div>
							<div style="margin-top: 18px;">
								<div id="payment_wrapper">


									<button class="btn btn-large btn-primary" id="continue"
										type="submit"
										style="height: 50px; border-color: #ff5a5f; background-color: #ff5a5f; color: #fff; width: 25%;">
										<span>Continue</span>
									</button>
								</div>
								<div style="margin-top: 6px;">
									<span style="vertical-align: middle; color: #767676;"> <span>Next
											you’ll verify your ID for your host</span>
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>

			<div class="col-md-5" style="padding-left: 37.5px;">

				<div class="summary">
					<!-- <div class="background-cover"
						style="height: 140px;background-image: url(http://localhost:3001/getpicture0?prop_id={{property.prop_id}}); height: 500px; width: 100%;"> -->
					<div class="background-cover"
						style="height: 140px; background-image: url(http://localhost:3001/getpicture0?prop_id={{property.prop_id}});"></div>
					<div
						style="position: relative; margin-right: 30px; margin-bottom: 0; margin-top: -25px; float: right;">

						<div class="photo"
							style="border-radius: 50%; border: 2px solid #fff;">
							<img class="img-circle" ng-src="{{hostImageUrl}}"
								style="height: 60px; width: 60px; vertical-align: middle; border: 0;">
						</div>


					</div>

					<div class="panel"
						style="border: 1px solid #dce0e0; background-color: #fff; border-radius: 0;">
						<div class="panel-body"
							style="padding-right: 20px; padding-bottom: 25px; padding-left: 20px; position: relative; margin: 0;">
							<div
								style="vertical-align: middle; margin-bottom: 12px; color: #767676;">
								<span>Hosted by <%=property.lname%></span>
							</div>
							<div style="font-size: 24px; line-height: 30px;"><%=property.title%></div>


							<div style="vertical-align: middle; color: #767676;">
								<ul class="list-layout"
									style="padding-left: 0; margin-bottom: 0; list-style: none; font-size: 0;">
									<li style="display: inline; font-size: 16px;"><%=property.category%></li>
									<li style="display: table-cell; font-size: 16px;">

										<div class="rating-wrapper" ng-if="count!=0">


											<div class="rating"
												style="display: inline-block; position: relative;">
												<span class="star" ng-repeat="n in [] | range:avgrating"
													style="font-size: 20px; color: #155f13;"><i
													class="fa fa-star"></i> </span>

											</div>
											<div class="rating"
												style="display: inline-block; position: relative;">
												<span class="star" ng-repeat="n in [] | rangenew:avgrating"
													style="font-size: 20px; color: #ddd;"><i
													class="fa fa-star"></i> </span>

											</div>


										</div>



									</li>
									<li class="hide-md"
										style="display: table-cell; font-size: 16px;">&nbsp;&nbsp;&nbsp;



										<div style="display: inline;" ng-if="count != 0">
											<a href='#' data-toggle="modal" data-target="#myModal4"
												style="color: #2d2d2d; text-decoration: none; background: transparent;"><span
												style="font-size: 18px;">{{ count }} reviews</span> </a>
										</div>
										<div style="display: inline; float: left;" ng-if="count==0">
											<span style="font-size: 16px;">No reviews to show</span>
										</div>
										<div class="modal fade" id="myModal4" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Reviews</h4>
													</div>
													<div class="modal-body">
														<div ng-repeat="n in reviews">
															<p>{{ n.review }}</p>
															<div class="rating-wrapper">


																<div class="rating"
																	style="display: inline-block; position: relative;">
																	<span class="star" ng-repeat="n in [] | range:n.rating"
																		style="font-size: 20px; color: #155f13;"><i
																		class="fa fa-star"></i> </span>

																</div>
																<div class="rating"
																	style="display: inline-block; position: relative;">
																	<span class="star"
																		ng-repeat="n in [] | rangenew:n.rating"
																		style="font-size: 20px; color: #ddd;"><i
																		class="fa fa-star"></i> </span>

																</div>


															</div>
															<br>
															<hr>



														</div>

														<!-- <div class="row">
															<div class="col-sm-12">
																<div class="alert alert-info" ng-if="avgrating==0">
																	<strong>No reviews to show.</strong>
																</div>
															</div>
														</div> -->
														<div class="row">
															<div class="col-sm-12">
																<div class="alert alert-danger"
																	ng-hide="unexpected_error">
																	<strong>Unexpected error, try again</strong>
																</div>
															</div>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-default"
																data-dismiss="modal">Close</button>
														</div>
													</div>

												</div>
											</div>

										</div>

									</li>
								</ul>
								<div><%=property.street%>,
									<%=property.city%>,<%=property.state%> <%=property.zip%>,
									United States</div>

							</div>
						</div>


						<div class="panel-body hide-sm"
							style="padding-right: 20px; padding-bottom: 25px; padding-left: 20px; padding-top: 25px; border-top: 1px solid #dce0e0;">

							<div class="row row-condensed">
								<div class="col-sm-5">
									<div style="vertical-align: middle; color: #767676;">

										<span>Check-in</span>
									</div>
									<span><%=checkIn%></span>

								</div>

								<div class="col-sm-2">
									<i class="icon icon-chevron-right"
										style="font-size: 1.5em; font-style: normal; font-weight: normal; line-height: 1; color: #bbb;">

									</i>
								</div>

								<div class="col-sm-5">
									<div style="vertical-align: middle; color: #767676;">

										<span>Check-out</span>
									</div>
									<span><%=checkOut%></span>

								</div>


							</div>

						</div>


						<div class="panel-body hide-sm"
							style="padding-right: 20px; padding-bottom: 25px; padding-left: 20px; padding-top: 25px; border-top: 1px solid #dce0e0;">
							<table class="billing_table">
								<tbody>
									<tr class="price">
										<th class="price_header"
											style="padding-bottom: 10px; text-align: left; font-weight: bold;">
											<span>$<%=property.price%> x <%=nights%> nights</span> <span>&nbsp;</span>
										</th>
										<td class="price_price"
											style="text-align: right; padding-bottom: 10px;">
											<div>
												<span>$<%=subtotal%></span>
											</div>
										</td>
									</tr>
									<tr class="price">
										<th class="price_header"
											style="padding-bottom: 10px; text-align: left; font-weight: bold;">
											<span>Cleaning fee</span> <span>&nbsp;</span>

										</th>
										<td class="price_price"
											style="text-align: right; padding-bottom: 10px;">
											<div>
												<span>$20</span>
											</div>
										</td>
									</tr>
									<tr class="price">
										<th class="price_header"
											style="padding-bottom: 10px; text-align: left; font-weight: bold;">
											<span>Service fee</span> <span>&nbsp;</span>
										</th>
										<td class="price_price"
											style="text-align: right; padding-bottom: 10px;">
											<div>
												<span>$10</span>
											</div>
										</td>
									</tr>
									<tr class="price">
										<th class="price_header"
											style="padding-bottom: 10px; text-align: left; font-weight: bold;">
											<span>Occupancy taxes</span> <span>&nbsp;</span>
										</th>
										<td class="price_price"
											style="text-align: right; padding-bottom: 10px;">
											<div>
												<span>$10</span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="panel-body hide-sm"
							style="padding-right: 20px; padding-bottom: 25px; box-sizing: border-box; padding-left: 20px; padding-top: 25px; border-top: 1px solid #dce0e0;">

							<button class="total_price"
								style="font-size: 24px; line-height: 30px; margin-bottom: 12px;">
								<table class="billing_table">
									<tbody>
										<tr class="price">
											<th class="price_header"
												style="padding-bottom: 10px; text-align: left; font-weight: bold; font-size: 24px;">
												<span>Total</span> <span>&nbsp;</span>
											</th>
											<td class="price_price"
												style="text-align: right; padding-bottom: 10px; font-size: 24px;">
												<div>
													<span>$<%=total%></span> <sup style="top: -0.5em;">USD</sup>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</button>

						</div>

					</div>

					<div class="hide-sm">
						<div class="risk_message"
							style="border: 1px solid #dce0e0; margin-top: 30px;">
							<div class="row row-condensed" style="margin: 15px 20px 20px;">
								<div style="width: 100%; display: table; position: relative;">
									<div class="col-sm-10">

										<h4
											style="line-height: 1.3; font-size: 18px; font-weight: bold; margin-bottom: 9px;">
											<span>Airbnb will never ask you to wire money</span>
										</h4>
										<hr
											style="margin-left: 0; width: 45px; border: 1px solid #dce0e0; margin-top: 15px; margin-bottom: 15px; height: 0;">

									</div>
									<div class="col-sm-2"
										style="padding-right: 0; vertical-align: middle; display: table-cell;">
										<div
											style="text-align: right; background-image: url(https://a0.muscache.com/airbnb/static/risk/air-defender@2x-d86f15c61c3011d3642d19d4c916383b.png); background-size: 37px 50px; background-repeat: no-repeat; width: 37px; height: 50px; float: right; margin-left: auto; margin-right: auto;"></div>

									</div>

								</div>

								<div class="col-md-12">
									<span style="font-size: 14px;">"Paying through the
										Airbnb website or app helps keep your payments secure, and
										helps you stay covered by applicable policies."</span>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>


	<script>
		listing = "<%=JSON.stringify(property)%>"
		no_of_guests = "<%=JSON.stringify(no_of_guests)%>"
	</script>
	<script>
		
		$('#next')
				.on(
						'click',
						function(e) {
							

							$('#payment')
									.toggleClass(
											'accordion-panel--collapsed accordion-panel--expanded');
							$('#trip')
									.toggleClass(
											'accordion-panel--collapsed accordion-panel--expanded');
							$('#checkout').show();
							$('#edit').show();
							$('#acc_trip').addClass('light-gray');
							$('#acc_payment').removeClass('light-gray');
						});
		$('#edit')
				.on(
						'click',
						function(e) {

							$('#payment')
									.toggleClass(
											'accordion-panel--collapsed accordion-panel--expanded');
							$('#trip')
									.toggleClass(
											'accordion-panel--collapsed accordion-panel--expanded');
							$('#checkout').hide();
							$('#edit').hide();
							$('#acc_trip').removeClass('light-gray');
							$('#acc_payment').addClass('light-gray');
						});

		/* $('#continue')
		.on(
				'click',
				function(e) {

					
				    $('#nights').val(nights);
				});
		 */
	</script>


</body>
</html>