<html>

	<head>
		<title>Admin</title>
		
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
			
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>				
		
		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
		<link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
		<link rel="icon" sizes="192x192" href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="angularjs/admin.js"></script>
	<style>
		.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 300;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
		</style>	
	</head>
	
	<body ng-app="airbnb" ng-controller="admin">
	
		<div style="z-index: 99; display: block;">
		<nav class="navbar navbar-default "
			style="background-color: transparent; background: transparent; border-color: transparent;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/home" style="border-right: 1px solid #dce0e0;"> <img src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png" alt="some_text" style="height: 30px; font-weight: normal; font-size: inherit; background-color: transparent; color: inherit; top: -2px; font-family:"HelveticaNeue";font-size: 14px; padding: 4px 12px;"></a>
				</div>
				<ul class="nav navbar-nav pull-right" style="font-family: Circular,"HelveticaNeue",Helvetica; top: -2px;font-size: 14px;padding: 4px 12px;"-webkit-font-smoothing:antialiased;">
					<li class="dropdown"><a href="/adminHome"> <img width="28"
							height="28" class="img-circle dropbtn" ng-src="{{imageUrl}}"
							style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
					</a>

						<div class="dropdown-content">
							<label> <a href="/logout">Logout</a>
							</label>
						</div></li>
				</ul>
			</div>
		</nav>
	</div>  
		<div>		
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="/getAdminDashboard">Dashboard</a></li>
						<li><a href="#">Inbox</a></li>
						<li><a href="/pendingRequest">Pending Requests</a></li>
						<li><a href="/displayHostsList">Hosts</a></li>
						<li class="active"><a href="/displayUsersList">Users</a></li>
						<li><a href="/displayPropertiesList">Properties</a></li>
						<li><a href="/searchBill">Bills</a></li>
					</ul>

				</div>
			</nav>
 		</div>
<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="tabbable">
				<ul class="nav nav-pills nav-stacked col-md-3">
					<br><br>
					<li class="active"><a href="#a" data-toggle="tab">View Profile</a></li>
					<li><a href="#b" data-toggle="tab">View Previous Trips</a></li>  
					<li><a href="#c" data-toggle="tab">View Reviews</a></li>
					<!--<li><a href="#d" data-toggle="tab">Add Reviews</a></li>-->
				</ul>
				
				
				<div class="tab-content col-md-9">
					<input action="action" type="button" class = "glyphicon-arrow-left pull-right" style = "font-size: 16px; background-color: #008CBA" value="Back" onclick="history.go(-1);" />
				<br><br>
				<div class="tab-pane active" id="a">
						<div class="panel panel-default">
							<div class="panel-heading" align="middle" style="font-size: auto" ng-model="product_name_model">
								<strong><h3><%=user[0].fname%> <%=user[0].lname%></h3></strong>
							</div>
							<div class="panel-body" style="height:175px">
								<div class="col-sm-3">
								<img src="/images/user.jpg" alt="No image found :(" style="width:100%;height:100%;float:left" align="top">
								</div>
								
								<div class="col-sm-9">
								<br>
								<div class=row>
									<div class="col-sm-9" align="left" ><h4><strong><%=user_ssn%></strong></h4></div>
									<div class="col-sm-3" align="left" ><h3><strong>***</strong></h3></div>
								</div><br>
								<div class="col-sm-4"  ><strong>Contact Number</strong></div>
								<div class="col-sm-4"  ><strong>Birthday</strong></div>
								<div class="col-sm-4"  ><strong>Location</strong></div>
							
								<div class="col-sm-4"  ><%=user[0].phone_no%></div>
								<div class="col-sm-4"  ><%=str%></div>
								<div class="col-sm-4"  ><%=user[0].apartment%>, <%=user[0].street%>, <%=user[0].city%>, <%=user[0].state%>, <%=user[0].zip_code%></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="b">
						<div class="panel panel-default">
							<% if(trip.length){
							 
					        for(var i = 0;i < trip.length;i++) { %> 
								<div class="panel-footer"style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
							     <h3><b><%=(i+1)%>.&nbsp;&nbsp;<%=trip_ssn[i]%><%=trip[i].category%>  </b></h3>
								</div>
								<div class="panel-body" style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
								
								<div class="row">
									<div class="col-md-11" style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										<span style="font-weight: bold;"><span></span> </span>
									</div>
								</div>
							</div>
							<div class="panel-body" style="height:175px">
								<div class="col-sm-3">
								<img src="/images/getpicture2.png" alt="No image found :(" style="width:100%;height:100%;float:left" align="top">
								</div>
								<div class="col-sm-9">
								<br>
								<div class="col-sm-12" align="left" ><strong><%=trip[i].category%></strong></div>
								<br>
								<div class="col-sm-12" align="left" ><strong><%=trip[i].desc%></strong></div>
								<br>
								<div class="col-sm-12" align="left" ><strong>Location: </strong><%=trip[i].street%>, <%=trip[i].city%>, <%=trip[i].state%>, <%=trip[i].zip%></div>
								<br><br><br>
								<div class="col-sm-3"  ><strong>Guests</strong></div>
								<div class="col-sm-3"  ><strong>check-in</strong></div>
								<div class="col-sm-3"  ><strong>check-out</strong></div>
								<div class="col-sm-3"  ><strong>bill</strong></div>
							
								<div class="col-sm-3"  ><%=trip[i].No_of_guests%></div>
								<div class="col-sm-3"  ><%=checkin[i]%></div>
								<div class="col-sm-3"  ><%=checkout[i]%></div>
								<div class="col-sm-3"  ><%=trip[i].price%>$</div>
								
								</div>
							</div>
							<div class="panel-footer">
									<div class="col-sm-4" align="left" >Property ID: <%=trip[0].prop_id%></div>
								</div>
							<br><hr>
							 <% }            
				            }else{ %>
										<br><br><h1 align="center"> No Trips taken by user.</h1>    <br><br>             
				            <% } %> 		            
						</div>
					</div>
					<div class="tab-pane" id="c">
						<div class="panel panel-default">
							<div class="panel-footer">
								<% if(review.length){ 
								    for(var i = 0; i<review.length ; i++) { %>
							<div class="row"><br>
							<div class="col-sm-10" >
							<table class="table table-bordered table-striped">
								<thead>
									<tr class>
									<th>Reviews</th>
									<th>review id</th>
									<th>host id</th>
									<th>property id</th>
									<th>trip id</th>
									<th width="12%">Ratings</th>	
									</tr>
								</thead>
								<tbody>
									<td><%=review[i].review%></td>
									<td><%=revw_ssn[i]%></td>
									<td><%=host_ssn[i]%></td>
									<td><%=prop_ssn[i]%></td>
									<td><%=trip_ssn[i]%></td>
									<td><%=review[i].rating%></td>
									</tr>
								</tbody>
							</table>
							</div>
							</div>
							<% }            
										            }else{ %>
										                 <br><br><h1 align="center"> No reviews for this User</h1><br><br>
										            <% } %> 								
						</div>	
						</div>
					</div>
					<div class="tab-pane" id="d">
						<div class="panel panel-default">
							<div class="panel-heading" align="middle" style="font-size: auto"ng-model="product_name_model">
								<strong><h3>Add Reviews</h3></strong>
							</div>
							<div class="panel-body" >
								<form action = '/saveUserReview/<%=user[0].user_id%>' method = 'post'>								
								<textarea rows="4" cols="150" name="review" id="review" placeholder="Provide review on user here...."></textarea><br><br>
								<div class="form-group">
                        			<div class="col-sm-4">
                    		        <select class="form-control" id="rating" name="rating">
                            		    <option>Select Rating</option>
						 			   	<option>Excellent</option>
									    <option>Good</option>
									    <option>Average</option>
						    			<option>Bad</option>
						    			<option>Very Bad</option>
                           	 		</select>
                        			</div>
									<div class="col-sm-6" align="right">
										<button  class="btn btn-danger" style="display: block;width:100%;font-size:auto" type="submit" ><strong>Submit Review & Rating</strong></button>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>